/* ALL - Here are the main css information that will be applies at the whole template of this test site*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.fa {
  font-size: 1rem;
}

/* HEADER - All the styling about the 2 menu of this ibikini test frontpage*/
header {
  position: sticky;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
  top: 0;
  z-index: 99;
}

#top-menu, #main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#top-menu {
  height: 2rem;
}

#top-menu .company img{
  height: 1rem;
}

#top-menu .card, #main-menu .research {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#top-menu .card li a{
  padding-left: 2rem;
  text-transform: uppercase;
  color: #999;
}





#main-menu {
  height: 4rem;
}

#main-menu .shop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#main-menu .shop li a {
  padding-right: 2rem;
  text-transform: uppercase;
  color: black;
}

#main-menu .research {
  border: 1px solid #eaeaea;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

#main-menu .research li a {
  padding-left: 2rem;
  text-transform: uppercase;
  color: black;
}

#main-menu .research li input {
  border: none;
  text-transform: uppercase;
  color: black;
}

/* BANNER - The banner will include a script carousel and some feature about filter of the product of the front page */

.banner {
  overflow: hidden;
  display: flex;
}

.background-image1, .background-image2, .background-image3, .background-image4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-image1 {
  background-image: url("../images/banner-background1.jpg");
}
.background-image2 {
  background-image: url("../images/banner-background2.jpg");
}
.background-image3 {
  background-image: url("../images/banner-background3.jpg");
}
.background-image4 {
  background-image: url("../images/banner-background4.jpg");
}

.banner .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .text-box h1 {
  padding-top: 5rem;
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
  font-size: 10rem;
}

.banner .text-box h2 {
  padding-top: 3rem;
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
  font-size: 2rem;
}

.full-banner {
  position: relative;
  display: flex;
  flex-direction: column;
}

.filters {
  position: absolute;
  align-self: center;
  bottom: 10rem;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid white;
  border-radius: 0.1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.39);
}

.product-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid white;
  width: 8rem;
  background-color: rgba(255, 255, 255, 0.39);
  border-radius: 0.1rem;
}

.product-filter .fa-chevron-down {
  padding: 0 1rem;
}


/* CONTENT */


/* FOOTER */


/* MEDIA */
